@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css",
        "variables";

body {
  background-color: #fff;
  color: #000;
}

header,
nav {
  background-color: $color1;
  color: #fff;
}

nav {
  background-color: $color2;
}

header,
nav ul {
  padding: 1em;
  display: flex;
  flex-direction: row;
  align-content: space-around;
  justify-content: space-between;
  margin: 0;
}

nav ul {
  width: 100%;
}

nav li {
  display: inline-block;
  flex-grow: 1;
}

.avatar {
  border-radius: 50%;
  height: 6em;
}
