@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css",
        "variables", "slider";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,800&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #000;
  font-family: "Open Sans";
  font-weight: 400;
}

header,
nav,
.alert {
  background-color: $color1;
  color: #fff;
}

.alert {
  display: none;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  border-radius: 5px;
  padding: .5rem .75rem;
  font-weight: 300;
  height: 2.5rem;
  position: relative;

  p {
    margin: 0;
  }
}

.bell {
  margin: 0 1rem;
}

.bell-ring {
  display: inline-block;
  border-radius: 50%;
  margin-left: -1rem;
  margin-top: 5px;
  color: $notify;
  background-color: $notify;
  width: .75rem;
  height: .75rem;
  font-size: 1px;
  align-self: flex-start;
}


// for JS to display alertbar, if there are alerts.
.alerts {
  display: flex;
}

nav {
  background-color: $color2;
  padding: 0 2.25rem;
}



header,
nav ul {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-content: space-around;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

nav ul {
  padding: .5rem;
}

nav li {
  display: inline-block;
  flex-grow: 1;
  text-align: center;
}

.avatar {
  border-radius: 50%;
  height: 6em;
}

.id-badge .avatar {
  height: 3em;
}

h1, h2, h3 {
  font-size: 1rem;
  font-weight: 400;
}

header h1 sup {
  font-size: .5rem;
}

.alert-space {
  min-height: 1rem;
}

section,
.new-member,
.activity {
  padding: 1rem;
  border-bottom: 1px solid $midgrey;
  text-align: center;

  .email {
    color: $color1;
  }
}

.new-member:last-child,
.activity:last-child, {
  border: none;
  padding-bottom: 0;
}

h4 {
  margin: 0;
}

.id-badge {
  border-left: 1px solid $darkgrey;
  display: flex;
  align-items: center;
  margin-left: .5rem;
}

.id-badge * {
  margin-left: 15px;
}

.dash-label {
  display: flex;
}

.dash-label * {
  flex-grow: 1;
}

.dash-label h2 {
  flex-grow: 0;
  padding: 1rem;
  margin: 0;
}

#dashboard .spacer {
  background-color: $lightgrey;
  border: solid 1px $midgrey;
  border-top: none;
  border-right: none;
}

section:last-child {
  border: none;
  margin-bottom: 1.5rem;
}

.social-badge {
  margin-top: 1rem;
  border-radius: 5px;
  border: 1px solid $midgrey;
  padding: 1rem;
  background-color: $lightgrey;
  display: flex;
  flex-direction: row;

  div {
    margin: 0;
    margin-left: 1rem;
    text-align: left;
  }

  h4 {
    color: $color1;
    font-weight: 400;
    margin-top: 1rem;
  }

  p {
    font-size: 2.5rem;
    font-weight: 300;
    color: $darkgrey;
    margin: 0;
  }

  .avatar {
    background-color: $color1;
    width: 6em;
    margin: 0;
    display: flex;
  }

}

.social-icon {
  width: 50%;
  fill: #fff;
  margin:auto;
}



section h3 {
  text-transform: uppercase;
  text-align: left;
  font-weight: 600;
}

.navicon {
  fill: #fff;
  height: 2rem;
}

header h2 {
  font-weight: 400;
  font-size: .7rem;
}

input[type='text'],
textarea,
button,
select {
  width: 100%;
  display: block;
  border: 1px solid $midgrey;
  background-color: $lightgrey;
  outline: none;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 5px;
}

select {
  color: $darkgrey;
  margin-top: 2rem;
}

button:not([type='submit']) {
  background-color: $darkgrey;
  border: none;
}

button {
  color: #fff;
  background-color: $color1;
  border: 1px solid $color2;
}

button {
  text-transform: uppercase;
}

.leave-room-for-jesus {
    // this class name is purely to entertain myself, and remind me what it does.
    // the other option was to call it ".dont-stand-so-close-to-me"...
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 1rem 0;
}

.leave-room-for-jesus *:first-child {
  margin-right: auto;
}

.share-space {
  display: flex;
  gap: 1rem;
}
